USE [master]
GO
/****** Object:  Database [ImeiShop]    Script Date: 11/13/2024 1:08:30 AM ******/
CREATE DATABASE [ImeiShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ImeiShop', FILENAME = N'C:\Users\tulev\ImeiShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ImeiShop_log', FILENAME = N'C:\Users\tulev\ImeiShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ImeiShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ImeiShop]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_KiemTraMaDonNhap]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_KiemTraMaDonNhap] (
    @MaDonNhap VARCHAR(9)
)
RETURNS BIT
AS
BEGIN
    DECLARE @Exists BIT;

    IF EXISTS (SELECT 1 FROM DON_NHAP WHERE Ma_don_nhap = @MaDonNhap)
    BEGIN
        SET @Exists = 1; -- TRUE
    END
    ELSE
    BEGIN
        SET @Exists = 0; -- FALSE
    END

    RETURN @Exists;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_KiemTraMaKhuyenMai]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_KiemTraMaKhuyenMai] (
    @MaKhuyenMai VARCHAR(9)
)
RETURNS BIT
AS
BEGIN
    DECLARE @Exists BIT;

    IF EXISTS (SELECT 1 FROM KHUYEN_MAI WHERE Ma_khuyen_mai = @MaKhuyenMai)
    BEGIN
        SET @Exists = 1; -- TRUE
    END
    ELSE
    BEGIN
        SET @Exists = 0; -- FALSE
    END

    RETURN @Exists;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_KiemTraTrungSDTKhachHang]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_KiemTraTrungSDTKhachHang] (@sodienthoai VARCHAR(18))
RETURNS BIT
AS
BEGIN
    DECLARE @isDuplicate BIT;
    
    -- Kiểm tra số lượng số điện thoại trùng lặp
    IF EXISTS (SELECT * FROM KHACH_HANG WHERE SDT = @sodienthoai)
        SET @isDuplicate = 1; -- Có trùng
    ELSE
        SET @isDuplicate = 0; -- Không trùng
        
    RETURN @isDuplicate;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_LayChietKhau]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_LayChietKhau]
(
    @Ma_khuyen_mai VARCHAR(9)
)
RETURNS NUMERIC(4,2)
AS
BEGIN
    DECLARE @ChietKhau NUMERIC(4,2);

    SELECT @ChietKhau = Chiet_khau
    FROM KHUYEN_MAI
    WHERE Ma_khuyen_mai = @Ma_khuyen_mai;

    -- Trả về giá trị chiết khấu hoặc 0 nếu mã khuyến mãi không tồn tại
    RETURN ISNULL(@ChietKhau, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_LayMaKhachHang]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_LayMaKhachHang]
(
    @SDT VARCHAR(18)
)
RETURNS CHAR(9)
AS
BEGIN
    DECLARE @MaKhachHang CHAR(9);

    -- Truy vấn lấy Ma_khach_hang từ bảng KHACH_HANG dựa trên số điện thoại
    SELECT @MaKhachHang = Ma_khach_hang
    FROM KHACH_HANG
    WHERE SDT = @SDT;

    -- Trả về kết quả
    RETURN @MaKhachHang;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_TongTien1DonHang]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_TongTien1DonHang]
(
    @Ma_don_ban VARCHAR(9)
)
RETURNS DECIMAL(18, 2)
AS
BEGIN
    DECLARE @TongTien DECIMAL(18, 2);

    SELECT @TongTien = SUM([Giá bán] + [Thuế] * [Giá bán] / 100)
    FROM dbo.Dgv_ChiTietDonHang
    WHERE [Mã đơn bán] = @Ma_don_ban;

    RETURN ISNULL(@TongTien, 0); -- Trả về 0 nếu không có sản phẩm nào
END;
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_XacThucAdmin]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_XacThucAdmin]
(
    @Ten_dang_nhap VARCHAR(36),
    @Mat_khau VARCHAR(27)
)
RETURNS VARCHAR(50)
AS
BEGIN
    DECLARE @Result VARCHAR(50);

    IF EXISTS (SELECT 1 FROM ADMIN WHERE Ten_dang_nhap = @Ten_dang_nhap AND Mat_khau = @Mat_khau)
        SET @Result = 'Authenticated';
    ELSE
        SET @Result = NULL;

    RETURN @Result;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_XacThucNhanVien]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_XacThucNhanVien]
(
    @SDT VARCHAR(18),
    @MatKhau VARCHAR(27)
)
RETURNS VARCHAR(9) 
AS
BEGIN
    DECLARE @MaNhanVien VARCHAR(9) = NULL; -- Khởi tạo với NULL

    SELECT @MaNhanVien = Ma_nhan_vien
    FROM NHAN_VIEN
    WHERE SDT = @SDT AND Mat_khau = @MatKhau;

    RETURN @MaNhanVien; -- Trả về NULL nếu không tìm thấy
END;
GO
/****** Object:  Table [dbo].[DONG_MAY]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONG_MAY](
	[Ma_dong_may] [varchar](9) NOT NULL,
	[Ten_dong_may] [nvarchar](36) NOT NULL,
	[Dung_luong_pin] [nvarchar](63) NOT NULL,
	[Kich_thuoc] [nvarchar](63) NOT NULL,
	[Mo_ta] [nvarchar](63) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_dong_may] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEN_THOAI]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEN_THOAI](
	[Ma_Imei] [varchar](18) NOT NULL,
	[Hinh_anh] [image] NULL,
	[Mau_sac] [nvarchar](18) NULL,
	[Trang_thai] [nvarchar](18) NULL,
	[Gia_nhap] [numeric](18, 2) NULL,
	[Gia_ban] [numeric](18, 2) NULL,
	[Thue] [numeric](4, 2) NULL,
	[Ma_dong_may] [varchar](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Imei] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Dgv_DanhSachDienThoai]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Dgv_DanhSachDienThoai] AS
SELECT 
    dm.Ma_dong_may AS [Mã dòng máy],
    dm.Ten_dong_may AS [Tên dòng máy],
    dm.Kich_thuoc AS [Kích thước màn hình],
    dm.Dung_luong_pin AS [Dung lượng pin],
    dt.Ma_Imei AS [Mã Imei],
    dt.Mau_sac AS [Màu sắc],
    dt.Trang_thai AS [Trạng thái],
    dt.Thue AS [Thuế],
    dt.Gia_ban AS [Giá bán],
    dt.Gia_nhap AS [Giá nhập],
	dt.Hinh_anh AS [Hình ảnh]
FROM 
    DIEN_THOAI dt
    LEFT JOIN DONG_MAY dm ON dt.Ma_dong_may = dm.Ma_dong_may;
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_LoadFilterDienThoaiCoSan]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_LoadFilterDienThoaiCoSan]()
RETURNS TABLE
AS
RETURN
(
    SELECT
        [Tên dòng máy],
        [Kích thước màn hình],
        [Dung lượng pin],
        [Màu sắc]
    FROM 
        [dbo].[Dgv_DanhSachDienThoai]
    WHERE 
        [Trạng thái] = N'Sẵn bán'
);
GO
/****** Object:  View [dbo].[Dgv_DanhSachDienThoaiSanCo]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Điều kiện để loại bỏ các sản phẩm đã bán*/
CREATE VIEW [dbo].[Dgv_DanhSachDienThoaiSanCo]
AS
SELECT    dm.Ma_dong_may AS [Mã dòng máy], dm.Ten_dong_may AS [Tên dòng máy], dm.Kich_thuoc AS [Kích thước màn hình], dm.Dung_luong_pin AS [Dung lượng pin], dt.Ma_Imei AS [Mã Imei], dt.Mau_sac AS [Màu sắc], 
                      dt.Trang_thai AS [Trạng thái], dt.Thue AS Thuế, dt.Gia_ban AS [Giá bán], dt.Gia_nhap AS [Giá nhập], dt.Hinh_anh AS [Hình ảnh]
FROM         dbo.DIEN_THOAI AS dt LEFT OUTER JOIN
                      dbo.DONG_MAY AS dm ON dt.Ma_dong_may = dm.Ma_dong_may
WHERE     (TRIM(dt.Trang_thai) <> N'Đã bán')
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_TimDienThoaiTheoFilter]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_TimDienThoaiTheoFilter]
(
    @TenDongMay NVARCHAR(255) = NULL,
    @KichThuoc NVARCHAR(255) = NULL,
    @DungLuongPin NVARCHAR(255) = NULL,
    @MauSac NVARCHAR(255) = NULL
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        [Mã dòng máy],
        [Tên dòng máy],
        [Kích thước màn hình],
        [Dung lượng pin],
        [Mã Imei],
        [Màu sắc],
        [Trạng thái],
        [Thuế],
        [Giá bán],
        [Giá nhập],
        [Hình ảnh]
    FROM 
        [dbo].[Dgv_DanhSachDienThoaiSanCo]
    WHERE 
        (@TenDongMay IS NULL OR [Tên dòng máy] = @TenDongMay)
        AND (@KichThuoc IS NULL OR [Kích thước màn hình] = @KichThuoc)
        AND (@DungLuongPin IS NULL OR [Dung lượng pin] = @DungLuongPin)
        AND (@MauSac IS NULL OR [Màu sắc] = @MauSac)

);
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_LayDienThoaiDuaVAoImei]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_LayDienThoaiDuaVAoImei] 
(
    @Imei NVARCHAR(255)
)
RETURNS TABLE
AS
RETURN
(
    SELECT *
    FROM 
        dbo.Dgv_DanhSachDienThoaiSanCo
    WHERE 
        TRIM([Mã Imei]) = TRIM(@Imei)
);
GO
/****** Object:  Table [dbo].[THONG_KE_NGAY]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONG_KE_NGAY](
	[Ngay_thong_ke] [date] NOT NULL,
	[So_luong_ban] [int] NULL,
	[Tong_thu] [numeric](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ngay_thong_ke] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_LayThongKeTrongThang]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_LayThongKeTrongThang]
(
    @Year INT,
    @Month INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT *
    FROM THONG_KE_NGAY
    WHERE Ngay_thong_ke >= DATEFROMPARTS(@Year, @Month, 1) 
          AND Ngay_thong_ke <= GETDATE()  -- Lấy đến ngày hiện tại
);
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[Ma_khach_hang] [varchar](9) NOT NULL,
	[SDT] [varchar](18) NOT NULL,
	[Ten_khach_hang] [nvarchar](36) NULL,
	[Dia_chi] [nvarchar](63) NULL,
	[Gmail] [varchar](36) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_khach_hang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_BAN]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_BAN](
	[Ma_don_ban] [varchar](9) NOT NULL,
	[Ngay_tao_don] [date] NULL,
	[Gio_tao_don] [time](0) NULL,
	[SL_dien_thoai] [int] NULL,
	[Tri_gia] [numeric](18, 2) NULL,
	[So_tien_tra] [numeric](18, 2) NULL,
	[Trang_thai] [nvarchar](18) NULL,
	[Ma_khach_hang] [varchar](9) NOT NULL,
	[Ma_nhan_vien] [varchar](9) NULL,
	[Ma_khuyen_mai] [varchar](9) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_don_ban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[LayTop10KhachHang]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[LayTop10KhachHang]()
RETURNS TABLE
AS
RETURN
(
    SELECT TOP 10
        KH.Ma_khach_hang, 
        KH.Ten_khach_hang, 
        COUNT(DB.Ma_don_ban) AS So_don_da_mua, 
        SUM(DB.Tri_gia) AS Tong_tien_da_mua
    FROM KHACH_HANG KH
    JOIN DON_BAN DB ON KH.Ma_khach_hang = DB.Ma_khach_hang
    WHERE DB.Trang_thai = N'Hoàn thành'
    GROUP BY KH.Ma_khach_hang, KH.Ten_khach_hang
    ORDER BY Tong_tien_da_mua DESC
);
GO
/****** Object:  Table [dbo].[CT_DON_BAN]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DON_BAN](
	[Ma_Imei] [varchar](18) NOT NULL,
	[Ma_don_ban] [varchar](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Imei] ASC,
	[Ma_don_ban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_SanPhamBanChay]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_SanPhamBanChay]()
RETURNS TABLE
AS
RETURN
(
    SELECT TOP 10 DM.Ma_dong_may, DM.Ten_dong_may, COUNT(CTB.Ma_Imei) AS So_luong_ban
    FROM DONG_MAY DM
    JOIN DIEN_THOAI DT ON DM.Ma_dong_may = DT.Ma_dong_may
    JOIN CT_DON_BAN CTB ON DT.Ma_Imei = CTB.Ma_Imei
    JOIN DON_BAN DB ON CTB.Ma_don_ban = DB.Ma_don_ban
    WHERE DT.Trang_thai = N'Đã bán'
    GROUP BY DM.Ma_dong_may, DM.Ten_dong_may
    ORDER BY So_luong_ban DESC
);
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[Ma_nhan_vien] [varchar](9) NOT NULL,
	[Mat_khau] [varchar](27) NOT NULL,
	[Ten_nhan_vien] [nvarchar](36) NOT NULL,
	[Chuc_vu] [nvarchar](36) NULL,
	[Gmail] [varchar](36) NULL,
	[SDT] [varchar](18) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_nhan_vien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYEN_MAI]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYEN_MAI](
	[Ma_khuyen_mai] [varchar](9) NOT NULL,
	[Ten_chuong_trinh] [nvarchar](36) NOT NULL,
	[Chiet_khau] [numeric](4, 2) NULL,
	[SL_ap_dung] [int] NULL,
	[Ngay_ap_dung] [date] NULL,
	[Ngay_ket_thuc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_khuyen_mai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_DienThongTinDonHang]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_DienThongTinDonHang]
(
    @Ma_don_ban NVARCHAR(50)
)
RETURNS TABLE
AS
RETURN 
(
    SELECT 
        db.Ma_don_ban AS [Mã đơn bán],
        db.Ngay_tao_don AS [Ngày tạo đơn],
        db.So_tien_tra AS [Số tiền khách đã trả],
        db.SL_dien_thoai AS [Số lượng điện thoại],
        db.Tri_gia AS [Trị giá],
        db.Trang_thai AS [Trạng thái],
        kh.Ma_khach_hang AS [Mã khách hàng],
        kh.SDT AS [Số điện thoại khách hàng],
        kh.Ten_khach_hang AS [Tên khách hàng],
        km.Ma_khuyen_mai AS [Mã khuyến mãi],
        km.Chiet_khau AS [Chiết khấu],
        nv.Ma_nhan_vien AS [Mã nhân viên],
        nv.Ten_nhan_vien AS [Tên nhân viên],
        nv.SDT AS [Số điện thoại nhân viên]
    FROM 
        DON_BAN db
        LEFT JOIN KHACH_HANG kh ON db.Ma_khach_hang = kh.Ma_khach_hang
        LEFT JOIN KHUYEN_MAI km ON db.Ma_khuyen_mai = km.Ma_khuyen_mai
        LEFT JOIN NHAN_VIEN nv ON db.Ma_nhan_vien = nv.Ma_nhan_vien
    WHERE 
        db.Ma_don_ban = @Ma_don_ban
);
GO
/****** Object:  View [dbo].[Dgv_ChiTietDonHang]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Dgv_ChiTietDonHang] AS
SELECT 
    db.Ma_don_ban AS [Mã đơn bán],  -- Thêm cột Ma_don_ban
    dm.Ma_dong_may AS [Mã dòng máy],
    dm.Ten_dong_may AS [Tên dòng máy],
    dm.Kich_thuoc AS [Kích thước màn hình],
    dm.Dung_luong_pin AS [Dung lượng pin],
    dt.Ma_Imei AS [Mã Imei],
    dt.Mau_sac AS [Màu sắc],
    dt.Trang_thai AS [Trạng thái],
    dt.Thue AS [Thuế],
    dt.Gia_ban AS [Giá bán],
    dt.Gia_nhap AS [Giá nhập],
    dt.Hinh_anh AS [Hình ảnh]
FROM 
    CT_DON_BAN cdb
JOIN 
    DIEN_THOAI dt ON cdb.Ma_Imei = dt.Ma_Imei
JOIN 
    DON_BAN db ON cdb.Ma_don_ban = db.Ma_don_ban
JOIN 
    DONG_MAY dm ON dt.Ma_dong_may = dm.Ma_dong_may;
GO
/****** Object:  Table [dbo].[DON_NHAP]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_NHAP](
	[Ma_don_nhap] [varchar](9) NOT NULL,
	[Ngay_nhap] [date] NULL,
	[Gio_nhap] [time](0) NULL,
	[SL_dien_thoai] [int] NULL,
	[Tri_gia] [numeric](18, 2) NULL,
	[Ma_NCC] [varchar](9) NOT NULL,
	[Ma_nhan_vien] [varchar](9) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_don_nhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DON_NHAP]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DON_NHAP](
	[Ma_Imei] [varchar](18) NOT NULL,
	[Ma_don_nhap] [varchar](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Imei] ASC,
	[Ma_don_nhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Dgv_ChiTietDonNhap]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Dgv_ChiTietDonNhap] AS
SELECT 
    dn.Ma_don_nhap AS [Mã đơn nhập], -- Thêm thuộc tính mã đơn nhập
    dm.Ma_dong_may AS [Mã dòng máy],
    dm.Ten_dong_may AS [Tên dòng máy],
    dm.Kich_thuoc AS [Kích thước màn hình],
    dm.Dung_luong_pin AS [Dung lượng pin],
    dt.Ma_Imei AS [Mã Imei],
    dt.Mau_sac AS [Màu sắc],
    dt.Trang_thai AS [Trạng thái],
    dt.Thue AS [Thuế],
    dt.Gia_ban AS [Giá bán],
    dt.Gia_nhap AS [Giá nhập],
    dt.Hinh_anh AS [Hình ảnh]
FROM 
    CT_DON_NHAP ctn
JOIN 
    DIEN_THOAI dt ON ctn.Ma_Imei = dt.Ma_Imei
JOIN 
    DON_NHAP dn ON ctn.Ma_don_nhap = dn.Ma_don_nhap
JOIN 
    DONG_MAY dm ON dt.Ma_dong_may = dm.Ma_dong_may;
GO
/****** Object:  Table [dbo].[GHI_NO]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GHI_NO](
	[Ma_khach_hang] [varchar](9) NOT NULL,
	[Ngay_ghi_no] [date] NOT NULL,
	[Gio_ghi_no] [time](0) NOT NULL,
	[Chua_thanh_toan] [numeric](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ngay_ghi_no] ASC,
	[Gio_ghi_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Dgv_ChiTietThanhToan]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Dgv_ChiTietThanhToan]
AS
SELECT    db.Ma_khach_hang, db.Ma_don_ban, db.Ngay_tao_don AS Ngay_ghi_no, db.Gio_tao_don AS Gio_ghi_no, db.Tri_gia, db.So_tien_tra, gn.Chua_thanh_toan
FROM         dbo.DON_BAN AS db LEFT OUTER JOIN
                      dbo.GHI_NO AS gn ON db.Ma_khach_hang = gn.Ma_khach_hang AND db.Ngay_tao_don = gn.Ngay_ghi_no AND db.Gio_tao_don = gn.Gio_ghi_no
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_LoadMaDongMay]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_LoadMaDongMay]()
RETURNS TABLE
AS
RETURN
(
    SELECT Ma_dong_may
    FROM DONG_MAY
);
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[Ma_NCC] [varchar](9) NOT NULL,
	[Ten_NCC] [nvarchar](36) NOT NULL,
	[Dia_chi] [nvarchar](63) NOT NULL,
	[SDT] [varchar](18) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_NCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Dgv_DanhSachDonNhap]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Dgv_DanhSachDonNhap]
AS
SELECT    dn.Ma_don_nhap AS [Mã đơn nhập], ncc.Ma_NCC AS [Mã nhà cung cấp], ncc.Ten_NCC AS [Tên nhà cung cấp], ncc.SDT AS [Số điện thoại nhà cung cấp], ncc.Dia_chi AS [Địa chỉ], dn.Ngay_nhap AS [Ngày nhập], 
                      dn.Tri_gia AS [Trị giá], dn.SL_dien_thoai AS [Số lượng], nv.Ma_nhan_vien AS [Mã nhân viên], nv.Ten_nhan_vien AS [Tên nhân viên]
FROM         dbo.DON_NHAP AS dn LEFT OUTER JOIN
                      dbo.NHA_CUNG_CAP AS ncc ON dn.Ma_NCC = ncc.Ma_NCC LEFT OUTER JOIN
                      dbo.NHAN_VIEN AS nv ON dn.Ma_nhan_vien = nv.Ma_nhan_vien
GO
/****** Object:  View [dbo].[Dgv_DanhSachKhachHang]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Dgv_DanhSachKhachHang] AS
SELECT 
    kh.Ma_khach_hang AS [Mã khách hàng],
    kh.SDT AS [Số điện thoại],
    kh.Gmail AS [Gmail],
    kh.Dia_chi AS [Địa chỉ],
    kh.Ten_khach_hang AS [Tên khách hàng]
FROM 
    KHACH_HANG kh;
GO
/****** Object:  View [dbo].[Dgv_DanhSachMaKhuyenMai]    Script Date: 11/13/2024 1:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Dgv_DanhSachMaKhuyenMai] AS
SELECT 
    km.Ma_khuyen_mai AS [Mã khuyến mãi],
    km.Chiet_khau AS [Chiết khấu],
    km.Ngay_ap_dung AS [Ngày áp dụng],
    km.Ngay_ket_thuc AS [Ngày kết thúc],
    km.Ten_chuong_trinh AS [Tên chương trình],
    km.SL_ap_dung AS [Số lượng áp dụng]
FROM 
    KHUYEN_MAI km;
GO
/****** Object:  View [dbo].[Dgv_DanhSachSanPham]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Dgv_DanhSachSanPham] AS
SELECT 
    dm.Ma_dong_may AS [Mã dòng máy],
    dm.Ten_dong_may AS [Tên dòng máy],
    dm.Kich_thuoc AS [Kích thước màn hình],
    dm.Dung_luong_pin AS [Dung lượng pin],
    dt.Ma_Imei AS [Mã Imei],
    dt.Mau_sac AS [Màu sắc],
    dt.Trang_thai AS [Trạng thái],
    dt.Thue AS [Thuế],
    dt.Gia_ban AS [Giá bán],
    dt.Gia_nhap AS [Giá nhập],
	dt.Hinh_anh AS [Hình ảnh]
FROM 
    DIEN_THOAI dt
    LEFT JOIN DONG_MAY dm ON dt.Ma_dong_may = dm.Ma_dong_may;
GO
/****** Object:  View [dbo].[Dgv_DienThoaiDaThem]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Dgv_DienThoaiDaThem] AS
SELECT 
    dm.Ma_dong_may AS [Mã dòng máy],
    dm.Ten_dong_may AS [Tên dòng máy],
    dm.Kich_thuoc AS [Kích thước màn hình],
    dm.Dung_luong_pin AS [Dung lượng pin],
    dt.Ma_Imei AS [Mã Imei],
    dt.Mau_sac AS [Màu sắc],
    dt.Trang_thai AS [Trạng thái],
    dt.Thue AS [Thuế],
    dt.Gia_ban AS [Giá bán],
    dt.Gia_nhap AS [Giá nhập],
	dt.Hinh_anh AS [Hình ảnh]
FROM 
    DIEN_THOAI dt
    LEFT JOIN DONG_MAY dm ON dt.Ma_dong_may = dm.Ma_dong_may;
GO
/****** Object:  View [dbo].[dgv_SanPhamCanCapNhat]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dgv_SanPhamCanCapNhat] AS
SELECT 
    dm.Ma_dong_may AS [Mã dòng máy],
    dm.Ten_dong_may AS [Tên dòng máy],
    dm.Kich_thuoc AS [Kích thước màn hình],
    dm.Dung_luong_pin AS [Dung lượng pin],
    dt.Ma_Imei AS [Mã Imei],
    dt.Mau_sac AS [Màu sắc],
    dt.Trang_thai AS [Trạng thái],
    dt.Thue AS [Thuế],
    dt.Gia_ban AS [Giá bán],
    dt.Gia_nhap AS [Giá nhập],
	dt.Hinh_anh AS [Hình ảnh]
FROM 
    DIEN_THOAI dt
    LEFT JOIN DONG_MAY dm ON dt.Ma_dong_may = dm.Ma_dong_may;
GO
/****** Object:  View [dbo].[Dgv_DanhSachDonHang]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Dgv_DanhSachDonHang] AS
SELECT 
    db.Ma_don_ban AS [Mã đơn bán],
    db.Ngay_tao_don AS [Ngày tạo đơn],
    db.So_tien_tra AS [Số tiền khách đã trả],
    db.SL_dien_thoai AS [Số lượng điện thoại],
    db.Tri_gia AS [Trị giá],
    db.Trang_thai AS [Trạng thái],
    kh.Ma_khach_hang AS [Mã khách hàng],
    kh.SDT AS [Số điện thoại khách hàng],
    kh.Ten_khach_hang AS [Tên khách hàng],
    km.Ma_khuyen_mai AS [Mã khuyến mãi],
    km.Chiet_khau AS [Chiết khấu],
    nv.Ma_nhan_vien AS [Mã nhân viên],
    nv.Ten_nhan_vien AS [Tên nhân viên],
    nv.SDT AS [Số điện thoại nhân viên]  -- Bổ sung số điện thoại nhân viên
FROM 
    DON_BAN db
    LEFT JOIN KHACH_HANG kh ON db.Ma_khach_hang = kh.Ma_khach_hang
    LEFT JOIN KHUYEN_MAI km ON db.Ma_khuyen_mai = km.Ma_khuyen_mai
    LEFT JOIN NHAN_VIEN nv ON db.Ma_nhan_vien = nv.Ma_nhan_vien;
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_LoadMaNhaCungCap]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_LoadMaNhaCungCap]()
RETURNS TABLE
AS
RETURN
(
    SELECT Ma_NCC
    FROM NHA_CUNG_CAP
);
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_LayThongTinDongMay]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_LayThongTinDongMay]
(
    @Ma_dong_may VARCHAR(9)
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        Ma_dong_may,
        Ten_dong_may,
        Dung_luong_pin,
        Kich_thuoc,
        Mo_ta
    FROM 
        DONG_MAY
    WHERE 
        Ma_dong_may = @Ma_dong_may
);
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_TimDonNhap]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_TimDonNhap]
(
    @Ma_don_nhap VARCHAR(9)
)
RETURNS TABLE
AS
RETURN
(
    SELECT *
    FROM DON_NHAP
    WHERE Ma_don_nhap = @Ma_don_nhap
);
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_TimKiemTheoSoDienThoai]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_TimKiemTheoSoDienThoai]
(
    @SoDienThoai NVARCHAR(20)
)
RETURNS TABLE
AS
RETURN
(
    SELECT * 
    FROM Dgv_DanhSachDonHang
    WHERE [Số điện thoại khách hàng] = @SoDienThoai
);
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_LayThongTinKhuyenMai]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_LayThongTinKhuyenMai](@MaKhuyenMai VARCHAR(9))
RETURNS TABLE
AS
RETURN
(
    SELECT *
    FROM KHUYEN_MAI
    WHERE Ma_khuyen_mai = @MaKhuyenMai
);
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_LayTatCaSoDienThoaiKhachHang]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_LayTatCaSoDienThoaiKhachHang]()
RETURNS TABLE
AS
RETURN
(
    SELECT SDT 
    FROM KHACH_HANG
);
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_LayTatCaMaKhuyenMai]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_LayTatCaMaKhuyenMai]()
RETURNS TABLE
AS
RETURN
(
    SELECT Ma_khuyen_mai 
    FROM KHUYEN_MAI
);
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_TimKiemTheoMaNCC]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_TimKiemTheoMaNCC]
(
    @MaNCC VARCHAR(9)
)
RETURNS TABLE
AS
RETURN
(
    SELECT * 
    FROM Dgv_DanhSachDonNhap
    WHERE [Mã nhà cung cấp] = @MaNCC
);
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_LayThongTinDonNhap]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_LayThongTinDonNhap](@MaDonNhap VARCHAR(9))
RETURNS TABLE
AS
RETURN
(
    SELECT *
    FROM DON_NHAP
    WHERE Ma_don_nhap = @MaDonNhap
);
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[Ten_dang_nhap] [varchar](36) NOT NULL,
	[Mat_khau] [varchar](27) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ten_dang_nhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIEN_THOAI] ADD  DEFAULT (N'Sẵn bán') FOR [Trang_thai]
GO
ALTER TABLE [dbo].[DIEN_THOAI] ADD  DEFAULT ((0)) FOR [Gia_nhap]
GO
ALTER TABLE [dbo].[DIEN_THOAI] ADD  DEFAULT ((0)) FOR [Gia_ban]
GO
ALTER TABLE [dbo].[DIEN_THOAI] ADD  DEFAULT ((5)) FOR [Thue]
GO
ALTER TABLE [dbo].[DON_BAN] ADD  DEFAULT (getdate()) FOR [Ngay_tao_don]
GO
ALTER TABLE [dbo].[DON_BAN] ADD  DEFAULT (getdate()) FOR [Gio_tao_don]
GO
ALTER TABLE [dbo].[DON_BAN] ADD  DEFAULT ((0)) FOR [SL_dien_thoai]
GO
ALTER TABLE [dbo].[DON_BAN] ADD  DEFAULT ((0)) FOR [Tri_gia]
GO
ALTER TABLE [dbo].[DON_BAN] ADD  DEFAULT ((0)) FOR [So_tien_tra]
GO
ALTER TABLE [dbo].[DON_BAN] ADD  DEFAULT (N'Chưa hoàn thành') FOR [Trang_thai]
GO
ALTER TABLE [dbo].[DON_NHAP] ADD  DEFAULT (getdate()) FOR [Ngay_nhap]
GO
ALTER TABLE [dbo].[DON_NHAP] ADD  DEFAULT (getdate()) FOR [Gio_nhap]
GO
ALTER TABLE [dbo].[DON_NHAP] ADD  DEFAULT ((0)) FOR [SL_dien_thoai]
GO
ALTER TABLE [dbo].[DON_NHAP] ADD  DEFAULT ((0)) FOR [Tri_gia]
GO
ALTER TABLE [dbo].[KHACH_HANG] ADD  DEFAULT (N'Khách lẻ') FOR [Ten_khach_hang]
GO
ALTER TABLE [dbo].[KHUYEN_MAI] ADD  DEFAULT ((5)) FOR [Chiet_khau]
GO
ALTER TABLE [dbo].[KHUYEN_MAI] ADD  DEFAULT ((999)) FOR [SL_ap_dung]
GO
ALTER TABLE [dbo].[KHUYEN_MAI] ADD  DEFAULT (getdate()) FOR [Ngay_ap_dung]
GO
ALTER TABLE [dbo].[NHAN_VIEN] ADD  DEFAULT (N'Nhân viên') FOR [Chuc_vu]
GO
ALTER TABLE [dbo].[CT_DON_BAN]  WITH CHECK ADD FOREIGN KEY([Ma_don_ban])
REFERENCES [dbo].[DON_BAN] ([Ma_don_ban])
GO
ALTER TABLE [dbo].[CT_DON_BAN]  WITH CHECK ADD FOREIGN KEY([Ma_Imei])
REFERENCES [dbo].[DIEN_THOAI] ([Ma_Imei])
GO
ALTER TABLE [dbo].[CT_DON_NHAP]  WITH NOCHECK ADD FOREIGN KEY([Ma_don_nhap])
REFERENCES [dbo].[DON_NHAP] ([Ma_don_nhap])
GO
ALTER TABLE [dbo].[CT_DON_NHAP]  WITH NOCHECK ADD FOREIGN KEY([Ma_Imei])
REFERENCES [dbo].[DIEN_THOAI] ([Ma_Imei])
GO
ALTER TABLE [dbo].[DIEN_THOAI]  WITH NOCHECK ADD FOREIGN KEY([Ma_dong_may])
REFERENCES [dbo].[DONG_MAY] ([Ma_dong_may])
GO
ALTER TABLE [dbo].[DON_BAN]  WITH CHECK ADD FOREIGN KEY([Ma_khach_hang])
REFERENCES [dbo].[KHACH_HANG] ([Ma_khach_hang])
GO
ALTER TABLE [dbo].[DON_BAN]  WITH CHECK ADD FOREIGN KEY([Ma_khuyen_mai])
REFERENCES [dbo].[KHUYEN_MAI] ([Ma_khuyen_mai])
GO
ALTER TABLE [dbo].[DON_BAN]  WITH CHECK ADD FOREIGN KEY([Ma_nhan_vien])
REFERENCES [dbo].[NHAN_VIEN] ([Ma_nhan_vien])
GO
ALTER TABLE [dbo].[DON_BAN]  WITH CHECK ADD FOREIGN KEY([Ngay_tao_don])
REFERENCES [dbo].[THONG_KE_NGAY] ([Ngay_thong_ke])
GO
ALTER TABLE [dbo].[DON_NHAP]  WITH CHECK ADD FOREIGN KEY([Ma_NCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([Ma_NCC])
GO
ALTER TABLE [dbo].[DON_NHAP]  WITH CHECK ADD FOREIGN KEY([Ma_nhan_vien])
REFERENCES [dbo].[NHAN_VIEN] ([Ma_nhan_vien])
GO
ALTER TABLE [dbo].[GHI_NO]  WITH CHECK ADD FOREIGN KEY([Ma_khach_hang])
REFERENCES [dbo].[KHACH_HANG] ([Ma_khach_hang])
GO
/****** Object:  StoredProcedure [dbo].[CapNhatDienThoaiTuDonNhap]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CapNhatDienThoaiTuDonNhap]
    @Ma_don_nhap VARCHAR(9),
    @Gia_nhap NUMERIC(18, 2),
    @Gia_ban NUMERIC(18, 2),
    @Thue NUMERIC(4, 2) = NULL
AS
BEGIN
    DECLARE @ResultMessage VARCHAR(50);

    BEGIN TRY
        BEGIN TRANSACTION;
        IF EXISTS (
            SELECT 1
            FROM CT_DON_NHAP
            WHERE Ma_don_nhap = @Ma_don_nhap
        )
        BEGIN
            UPDATE DIEN_THOAI
            SET Gia_nhap = @Gia_nhap,
                Gia_ban = @Gia_ban,
                Thue = COALESCE(@Thue, Thue) -- Giữ nguyên Thue hiện tại nếu @Thue là NULL
            WHERE Ma_Imei IN (
				SELECT Ma_Imei
				FROM CT_DON_NHAP
				WHERE Ma_don_nhap = @Ma_don_nhap
			);

            -- Commit transaction nếu cập nhật thành công
            COMMIT TRANSACTION;
            SET @ResultMessage = 'Update successful';
        END
        ELSE
        BEGIN
            ROLLBACK TRANSACTION;
            SET @ResultMessage = 'Record not found in CT_DON_NHAP';
        END
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @ResultMessage = 'Error occurred during update';
    END CATCH;
    PRINT @ResultMessage;
END;

GO
/****** Object:  StoredProcedure [dbo].[Pr_SuaDonBan]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pr_SuaDonBan]
(
    @Ma_don_ban CHAR(50),
    @Ma_khach_hang CHAR(50),
    @Ma_khuyen_mai CHAR(50),
    @Tri_gia NUMERIC(18,2)
)
AS
BEGIN
    -- Kiểm tra nếu đơn bán tồn tại dựa vào mã đơn bán
    IF EXISTS (SELECT 1 FROM DON_BAN WHERE Ma_don_ban = @Ma_don_ban)
    BEGIN
        -- Tính tổng số tiền chưa thanh toán của khách hàng trong bảng GHI_NO
        DECLARE @TongChuaThanhToan NUMERIC(18,2);
        SELECT @TongChuaThanhToan = SUM(Chua_thanh_toan)
        FROM GHI_NO
        WHERE Ma_khach_hang = (SELECT Ma_khach_hang FROM DON_BAN WHERE Ma_don_ban = @Ma_don_ban);

        -- Cập nhật các cột trong DON_BAN
        UPDATE DON_BAN
        SET Ma_khach_hang = @Ma_khach_hang,
            Ma_khuyen_mai = @Ma_khuyen_mai,
            Tri_gia = @Tri_gia
        WHERE Ma_don_ban = @Ma_don_ban;

        -- Cập nhật mã khách hàng trong GHI_NO
        UPDATE GHI_NO
        SET Ma_khach_hang = @Ma_khach_hang
        WHERE Ma_khach_hang = (SELECT Ma_khach_hang FROM DON_BAN WHERE Ma_don_ban = @Ma_don_ban);
    END
    ELSE
    BEGIN
        -- Thông báo nếu đơn bán không tồn tại
        PRINT 'Không tìm thấy đơn bán với mã đơn bán đã cung cấp.';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[Pr_SuaDonNhap]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pr_SuaDonNhap]
    @MaDonNhap VARCHAR(9),
    @MaNCC VARCHAR(9),
    @NgayNhap DATE,
    @GioNhap TIME
AS
BEGIN
    IF EXISTS (SELECT 1 FROM DON_NHAP WHERE Ma_don_nhap = @MaDonNhap)
    BEGIN
        UPDATE DON_NHAP
        SET Ma_NCC = @MaNCC,
            Ngay_nhap = ISNULL(@NgayNhap, GETDATE()),
            Gio_nhap = ISNULL(@GioNhap, CAST(GETDATE() AS TIME))
        WHERE Ma_don_nhap = @MaDonNhap;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[Pr_SuaKhuyenMai]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pr_SuaKhuyenMai]
    @MaKhuyenMai VARCHAR(9),
    @TenChuongTrinh NVARCHAR(36),
    @SLApDung INT,
    @NgayBatDau DATE,
	@NgayKetThuc DATE
AS
BEGIN
    UPDATE KHUYEN_MAI
    SET 
        Ten_chuong_trinh = @TenChuongTrinh,
        SL_ap_dung = @SLApDung,
		Ngay_ap_dung = @NgayBatDau,
        Ngay_ket_thuc = @NgayKetThuc
    WHERE 
        Ma_khuyen_mai = @MaKhuyenMai;
END;
GO
/****** Object:  StoredProcedure [dbo].[Pr_TaoChiTietDonNhap]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pr_TaoChiTietDonNhap]
    @Ma_Imei VARCHAR(18),
    @Ma_don_nhap VARCHAR(9)
AS
BEGIN
        INSERT INTO CT_DON_NHAP (Ma_Imei, Ma_don_nhap)
        VALUES (@Ma_Imei, @Ma_don_nhap);
END;
GO
/****** Object:  StoredProcedure [dbo].[Pr_TaoDonBan]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pr_TaoDonBan]
    @Ma_don_ban NVARCHAR(50),
    @Ngay_tao_don DATE,
    @Gio_tao_don TIME,
    @Tri_gia DECIMAL(18, 2),
    @SL_dien_thoai INT,
    @So_tien_tra DECIMAL(18, 2),
    @Trang_thai NVARCHAR(20),
    @Ma_khach_hang NVARCHAR(50),
    @Ma_nhan_vien NVARCHAR(50) = NULL, -- Cho phép NULL nếu không có mã nhân viên
    @Ma_khuyen_mai NVARCHAR(50) = NULL -- Cho phép NULL nếu không có mã khuyến mãi
AS
BEGIN
    -- Kiểm tra xem ngày bán đã có trong bảng THONG_KE_NGAY chưa
    IF NOT EXISTS (SELECT 1 FROM THONG_KE_NGAY WHERE Ngay_thong_ke = @Ngay_tao_don)
    BEGIN
        -- Nếu chưa có, thêm mới bản ghi vào bảng THONG_KE_NGAY
        INSERT INTO THONG_KE_NGAY (Ngay_thong_ke, So_luong_ban, Tong_thu)
        VALUES (@Ngay_tao_don, 0, 0);
    END

    -- Sau khi đảm bảo có bản ghi trong THONG_KE_NGAY, thực hiện insert vào bảng DON_BAN
    INSERT INTO DON_BAN (
        Ma_don_ban, Ngay_tao_don, Gio_tao_don, Tri_gia, SL_dien_thoai, So_tien_tra, Trang_thai, Ma_khach_hang, Ma_nhan_vien, Ma_khuyen_mai
    )
    VALUES (
        @Ma_don_ban, @Ngay_tao_don, @Gio_tao_don, @Tri_gia, @SL_dien_thoai, @So_tien_tra, @Trang_thai, @Ma_khach_hang, @Ma_nhan_vien, @Ma_khuyen_mai
    );
    
    -- Nếu có yêu cầu cập nhật thống kê, có thể tiếp tục xử lý ở đây.
END;
GO
/****** Object:  StoredProcedure [dbo].[Pr_TaoDongMay]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pr_TaoDongMay]
(
    @Ma_dong_may VARCHAR(9),
    @Ten_dong_may NVARCHAR(36),
    @Dung_luong_pin NVARCHAR(63),
    @Kich_thuoc NVARCHAR(63)
)
AS
BEGIN
    INSERT INTO DONG_MAY (Ma_dong_may, Ten_dong_may, Dung_luong_pin, Kich_thuoc)
    VALUES (@Ma_dong_may, @Ten_dong_may, @Dung_luong_pin, @Kich_thuoc)
END;
GO
/****** Object:  StoredProcedure [dbo].[Pr_TaoDonNhap]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pr_TaoDonNhap]
    @Ma_don_nhap VARCHAR(9),
    @Ma_NCC VARCHAR(9),
    @Ma_nhan_vien VARCHAR(9),
    @SoLuongDienThoai INT,
    @TriGia NUMERIC(18,2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO DON_NHAP (Ma_don_nhap, Ma_NCC, Ma_nhan_vien, SL_dien_thoai, Tri_gia)
    VALUES (@Ma_don_nhap, @Ma_NCC, @Ma_nhan_vien, @SoLuongDienThoai, @TriGia);
END;
GO
/****** Object:  StoredProcedure [dbo].[Pr_TaoKhuyenMai]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pr_TaoKhuyenMai]
    @Ma_khuyen_mai VARCHAR(9),
    @Ten_chuong_trinh NVARCHAR(36),
    @Chiet_khau NUMERIC(4,2),
    @SL_ap_dung INT,
    @Ngay_ap_dung DATE,
    @Ngay_ket_thuc DATE 
AS
BEGIN
    -- Insert dữ liệu vào bảng KHUYEN_MAI
    INSERT INTO KHUYEN_MAI (Ma_khuyen_mai, Ten_chuong_trinh, Chiet_khau, SL_ap_dung, Ngay_ap_dung, Ngay_ket_thuc)
    VALUES (@Ma_khuyen_mai, @Ten_chuong_trinh, @Chiet_khau, @SL_ap_dung, @Ngay_ap_dung, @Ngay_ket_thuc);
END;
GO
/****** Object:  StoredProcedure [dbo].[Pr_TaoNhaCungCap]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pr_TaoNhaCungCap]
    @Ma_NCC VARCHAR(9),
    @Ten_NCC NVARCHAR(36),
    @Dia_chi NVARCHAR(63),
    @SDT VARCHAR(18) = NULL -- Cho phép giá trị NULL nếu không có số điện thoại
AS
BEGIN
    INSERT INTO NHA_CUNG_CAP (Ma_NCC, Ten_NCC, Dia_chi, SDT)
    VALUES (@Ma_NCC, @Ten_NCC, @Dia_chi, @SDT)
END
GO
/****** Object:  StoredProcedure [dbo].[Pr_ThemKhachHang]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pr_ThemKhachHang]
    @Ma_khach_hang VARCHAR(9),
    @SDT VARCHAR(18),
    @Ten_khach_hang NVARCHAR(36) = NULL,
    @Dia_chi NVARCHAR(63) = NULL,
    @Gmail VARCHAR(36) = NULL
AS
BEGIN
    -- Thêm khách hàng mới vào bảng
    INSERT INTO KHACH_HANG (Ma_khach_hang, SDT, Ten_khach_hang, Dia_chi, Gmail)
    VALUES (@Ma_khach_hang, @SDT, @Ten_khach_hang, @Dia_chi, @Gmail);
END;
GO
/****** Object:  StoredProcedure [dbo].[Pr_ThemVaoChiTietDonHang]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pr_ThemVaoChiTietDonHang]
(
    @Ma_Imei CHAR(50),
    @Ma_don_ban CHAR(50)
)
AS
BEGIN
    -- Chèn bản ghi mới vào bảng CT_DON_BAN
    INSERT INTO CT_DON_BAN (Ma_Imei, Ma_don_ban)
    VALUES (@Ma_Imei, @Ma_don_ban);
END
GO
/****** Object:  StoredProcedure [dbo].[Pr_XoaDonBan]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pr_XoaDonBan]
    @Ma_don_ban VARCHAR(9),
    @Message NVARCHAR(100) OUTPUT -- Thêm OUTPUT parameter để lưu thông báo
AS
BEGIN
    DECLARE @SL_dien_thoai INT;
    
    -- Lấy số lượng điện thoại trong đơn bán
    SELECT @SL_dien_thoai = SL_dien_thoai 
    FROM DON_BAN 
    WHERE Ma_don_ban = @Ma_don_ban;

    IF @SL_dien_thoai = 0
    BEGIN
        DELETE FROM DON_BAN 
        WHERE Ma_don_ban = @Ma_don_ban;
        
        SET @Message = N'Đơn bán đã được xóa thành công.';
    END
    ELSE
    BEGIN
        SET @Message = N'Không thể xóa đơn bán. Số lượng điện thoại trong đơn không bằng 0.';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[Pr_XoaDonNhap]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pr_XoaDonNhap]
    @MaDonNhap VARCHAR(9),
    @KetQua BIT OUTPUT
AS
BEGIN
    -- Kiểm tra nếu mã đơn nhập tồn tại và số lượng điện thoại khác 0
    IF EXISTS (SELECT 1 FROM DON_NHAP WHERE Ma_don_nhap = @MaDonNhap AND SL_dien_thoai = 0)
    BEGIN
        -- Xóa bản ghi
        DELETE FROM DON_NHAP
        WHERE Ma_don_nhap = @MaDonNhap;

        SET @KetQua = 1;
    END
    ELSE
    BEGIN
        SET @KetQua = 0;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatThongTinKhachHang]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CapNhatThongTinKhachHang]
    @SDT NVARCHAR(15),
    @TenKhachHang NVARCHAR(50),
    @DiaChi NVARCHAR(100),
    @Gmail NVARCHAR(100)
AS
BEGIN
    UPDATE Dgv_DanhSachKhachHang
    SET [Tên khách hàng] = @TenKhachHang,
        [Địa chỉ] = @DiaChi,
        [Gmail] = @Gmail
    WHERE [Số điện thoại] = @SDT;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSoTienConLai]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateSoTienConLai] 
    @MaDonBan NVARCHAR(50),
    @SoTienTraThem DECIMAL(18, 2),
    @NgayGhiNo DATE,
    @GioGhiNo TIME(0),
    @Success INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SoTienConLai DECIMAL(18, 2);
    DECLARE @MaKhachHang NVARCHAR(9);
    DECLARE @CurrentDate DATE = GETDATE();
    DECLARE @CurrentTime TIME(0) = CONVERT(TIME(0), GETDATE());

    -- Lấy thông tin mã khách hàng và số tiền còn lại từ bảng GHI_NO
    SELECT @MaKhachHang = Ma_khach_hang, 
           @SoTienConLai = Chua_thanh_toan
    FROM GHI_NO
    WHERE Ma_khach_hang = (SELECT Ma_khach_hang FROM DON_BAN WHERE Ma_don_ban = @MaDonBan)
      AND Ngay_ghi_no = @NgayGhiNo
      AND Gio_ghi_no = @GioGhiNo;

    -- Kiểm tra nếu có đủ số tiền để trừ
    IF @SoTienConLai >= @SoTienTraThem
    BEGIN
        -- Tạo bản ghi mới trong GHI_NO với số tiền còn lại cập nhật
        INSERT INTO GHI_NO (Ma_khach_hang, Ngay_ghi_no, Gio_ghi_no, Chua_thanh_toan)
        VALUES (@MaKhachHang, @CurrentDate, @CurrentTime, @SoTienConLai - @SoTienTraThem);

        -- Cập nhật số tiền trả trong bảng DON_BAN
        UPDATE DON_BAN
        SET So_tien_tra = So_tien_tra + @SoTienTraThem
        WHERE Ma_don_ban = @MaDonBan;

        SET @Success = 1; -- Cập nhật thành công
    END
    ELSE
    BEGIN
        SET @Success = 0; -- Số tiền trả thêm vượt quá số tiền còn lại
    END
END;
GO
/****** Object:  Trigger [dbo].[trg_CapNhat_DienThoai_DonBan]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------------------------------------------------------------------------------------


CREATE TRIGGER [dbo].[trg_CapNhat_DienThoai_DonBan]
ON [dbo].[CT_DON_BAN]
AFTER  INSERT
AS
BEGIN
    UPDATE DIEN_THOAI
    SET Trang_thai = N'Đã bán'
    WHERE Ma_Imei IN (SELECT Ma_Imei FROM inserted);
END;
GO
ALTER TABLE [dbo].[CT_DON_BAN] ENABLE TRIGGER [trg_CapNhat_DienThoai_DonBan]
GO
/****** Object:  Trigger [dbo].[trg_TinhToan_TriGia_SauThue_DonBan]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TinhToan_TriGia_SauThue_DonBan]
ON [dbo].[CT_DON_BAN]
AFTER INSERT
AS
BEGIN
    -- Update Tri_gia and SL_dien_thoai in DON_BAN
    UPDATE DON_BAN
    SET Tri_gia = (
            -- Tính tổng giá trị sau thuế của các sản phẩm trong đơn hàng
            SELECT SUM(DIEN_THOAI.Gia_ban + (DIEN_THOAI.Gia_ban * DIEN_THOAI.Thue / 100))
            FROM CT_DON_BAN
            JOIN DIEN_THOAI ON CT_DON_BAN.Ma_Imei = DIEN_THOAI.Ma_Imei
            WHERE CT_DON_BAN.Ma_don_ban = inserted.Ma_don_ban
        ) * (
            -- Kiểm tra mã khuyến mãi và áp dụng chiết khấu nếu hợp lệ
            1 - ISNULL((
                SELECT Chiet_khau / 100.0
                FROM KHUYEN_MAI
                WHERE KHUYEN_MAI.Ma_khuyen_mai = DON_BAN.Ma_khuyen_mai
                  AND GETDATE() BETWEEN Ngay_ap_dung AND ISNULL(Ngay_ket_thuc, GETDATE())
            ), 0)
        ),
        SL_dien_thoai = (
            SELECT COUNT(*)
            FROM CT_DON_BAN
            WHERE CT_DON_BAN.Ma_don_ban = inserted.Ma_don_ban
        )
    FROM inserted
    WHERE DON_BAN.Ma_don_ban = inserted.Ma_don_ban;
END;
GO
ALTER TABLE [dbo].[CT_DON_BAN] ENABLE TRIGGER [trg_TinhToan_TriGia_SauThue_DonBan]
GO
/****** Object:  Trigger [dbo].[trg_update_don_nhap]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_update_don_nhap]
ON [dbo].[CT_DON_NHAP]
AFTER INSERT
AS
BEGIN
    -- Cập nhật số lượng điện thoại trong DON_NHAP
    UPDATE DON_NHAP
    SET SL_dien_thoai = (
        SELECT COUNT(*)
        FROM CT_DON_NHAP
        WHERE Ma_don_nhap = inserted.Ma_don_nhap
    )
    FROM DON_NHAP
    JOIN inserted ON DON_NHAP.Ma_don_nhap = inserted.Ma_don_nhap;

    -- Cập nhật trị giá trong DON_NHAP
    UPDATE DON_NHAP
    SET Tri_gia = (
        SELECT SUM(DIEN_THOAI.Gia_nhap)
        FROM CT_DON_NHAP
        JOIN DIEN_THOAI ON CT_DON_NHAP.Ma_Imei = DIEN_THOAI.Ma_Imei
        WHERE CT_DON_NHAP.Ma_don_nhap = inserted.Ma_don_nhap
    )
    FROM DON_NHAP
    JOIN inserted ON DON_NHAP.Ma_don_nhap = inserted.Ma_don_nhap;
END;

GO
ALTER TABLE [dbo].[CT_DON_NHAP] ENABLE TRIGGER [trg_update_don_nhap]
GO
/****** Object:  Trigger [dbo].[trgBeforeInsertDonBan]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trgBeforeInsertDonBan]
ON [dbo].[DON_BAN]
INSTEAD OF INSERT
AS
BEGIN

    
    DECLARE @NgayTaoDon DATE, @SoLuongBan INT, @TongThu NUMERIC(18,2);
    
    -- Lấy giá trị Ngay_tao_don từ bảng INSERTED
    SELECT @NgayTaoDon = Ngay_tao_don FROM INSERTED;
    
    -- Kiểm tra xem ngày bán đã có trong bảng THONG_KE_NGAY chưa
    IF NOT EXISTS (SELECT 1 FROM THONG_KE_NGAY WHERE Ngay_thong_ke = @NgayTaoDon)
    BEGIN
        -- Nếu chưa có, thêm mới bản ghi vào bảng THONG_KE_NGAY
        INSERT INTO THONG_KE_NGAY(Ngay_thong_ke, So_luong_ban, Tong_thu)
        VALUES (@NgayTaoDon, 0, 0);
    END
    
    -- Tính tổng số lượng bán và tổng thu cho ngày bán
    SELECT @SoLuongBan = COUNT(*) + 1, @TongThu = SUM(Tri_gia)
    FROM DON_BAN
    WHERE Ngay_tao_don = @NgayTaoDon;
    
    -- Cập nhật thông tin thống kê ngày bán trong bảng THONG_KE_NGAY
    UPDATE THONG_KE_NGAY
    SET So_luong_ban = @SoLuongBan, Tong_thu = @TongThu
    WHERE Ngay_thong_ke = @NgayTaoDon;

    -- Chèn bản ghi mới vào bảng DON_BAN
    INSERT INTO DON_BAN (Ma_don_ban, Ngay_tao_don, Gio_tao_don, Tri_gia, SL_dien_thoai, So_tien_tra, Trang_thai, Ma_khach_hang, Ma_nhan_vien, Ma_khuyen_mai)
    SELECT Ma_don_ban, Ngay_tao_don, Gio_tao_don, Tri_gia, SL_dien_thoai, So_tien_tra, Trang_thai, Ma_khach_hang, Ma_nhan_vien, Ma_khuyen_mai
    FROM INSERTED;
END;
GO
ALTER TABLE [dbo].[DON_BAN] ENABLE TRIGGER [trgBeforeInsertDonBan]
GO
/****** Object:  Trigger [dbo].[TriggerAfterUpdateDonBan]    Script Date: 11/13/2024 1:08:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TriggerAfterUpdateDonBan]
ON [dbo].[DON_BAN]
AFTER UPDATE
AS
BEGIN    
    DECLARE @NgayTaoDon DATE, @TongThu NUMERIC(18,2);

    -- Gán giá trị ngày hiện tại (ngày hôm nay)
    SET @NgayTaoDon = CONVERT(DATE, GETDATE());  -- Lấy ngày hiện tại mà không có thời gian
    
    -- Kiểm tra xem ngày bán đã có trong bảng THONG_KE_NGAY chưa
    IF NOT EXISTS (SELECT 1 FROM THONG_KE_NGAY WHERE Ngay_thong_ke = @NgayTaoDon)
    BEGIN
        -- Nếu chưa có, thêm mới bản ghi vào bảng THONG_KE_NGAY
        INSERT INTO THONG_KE_NGAY(Ngay_thong_ke, So_luong_ban, Tong_thu)
        VALUES (@NgayTaoDon, 0, 0);
    END
    
    -- Tính tổng trị giá bán cho ngày hôm nay
    SELECT @TongThu = SUM(Tri_gia)
    FROM DON_BAN
    WHERE CONVERT(DATE, Ngay_tao_don) = @NgayTaoDon;  -- Lọc theo ngày mà không cần giờ
    
    -- Cập nhật thông tin thống kê ngày bán trong bảng THONG_KE_NGAY
    UPDATE THONG_KE_NGAY
    SET Tong_thu = @TongThu
    WHERE Ngay_thong_ke = @NgayTaoDon;
END;
GO
ALTER TABLE [dbo].[DON_BAN] ENABLE TRIGGER [TriggerAfterUpdateDonBan]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "gn"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 271
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "db"
            Begin Extent = 
               Top = 175
               Left = 48
               Bottom = 338
               Right = 263
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1356
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Dgv_ChiTietThanhToan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Dgv_ChiTietThanhToan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "dt"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "dm"
            Begin Extent = 
               Top = 175
               Left = 48
               Bottom = 338
               Right = 250
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Dgv_DanhSachDienThoaiSanCo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Dgv_DanhSachDienThoaiSanCo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "dn"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ncc"
            Begin Extent = 
               Top = 175
               Left = 48
               Bottom = 338
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "nv"
            Begin Extent = 
               Top = 343
               Left = 48
               Bottom = 506
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Dgv_DanhSachDonNhap'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Dgv_DanhSachDonNhap'
GO
USE [master]
GO
